.filter {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.filter h2 {
  font-size: 15px;
  margin: 0;
}

.filter ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.filter li {
  margin: 0 10px;
  padding: 0 2px;
  list-style: none;
  cursor: pointer;
}

.filter li a {
  text-decoration: none;
  color: #000;
}

.filter li:hover {
  background-color: #ddd;
  border-radius: 2px;
}
