h5 {
  font-size: 15px;
}

.card {
  width: 250px;
  cursor: pointer;
  z-index: 1px;
  /* border: 1px solid #020202d7; */
  /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2); */
}

.shoe {
  width: 200px;
}

.card:hover p {
  transition: all 0.1s;
  top: 170px;
}

.card-img-container {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.fav {
  position: absolute;
  top: 10px;
  z-index: 10px;
}

.card-body p {
  background-color: #eceff0;
  padding: 3px 5px 2px;
  font-size: 13px;
  border-radius: 3px;
  position: absolute;
  top: 175px;
  left: 5px;
}

@media screen and (min-width: 1500px) {
  .card {
    width: 350px;
  }
  .shoe {
    width: 250px;
  }
  .card-body p {
    top: 225px;
    left: 5px;
  }
  .card:hover p {
    top: 220px;
  }
  .fav {
    right: 10px;
  }
}
